* {
box-sizing: border-box;
margin: 0;
}

html {
  background: url("./assets/Mars_Rover.svg") no-repeat center center fixed;
  background-size: cover;
}

.App {
  text-align: center;
  display: grid;
  grid-template-columns: 40% auto;
  grid-template-rows: 10% 1fr 1fr 1fr 5%;
  height: 100vh;
}

.header{
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  color: rgb(255, 255, 255);
  position: relative;
  background: rgba(172, 99, 51, 0.856);
  text-align: center;
}

.header h1 {
  letter-spacing: 2px;
  color: #fff;
  line-height: 24px;
}

.header span {
  position: absolute;
  top: 31%;
  left: 45%;
}

.header .transform {
  position: absolute;
  transform: rotate(-90deg);
  top: 33%;
  left: 43%;
  font-size: small;
}

.marksScreen{
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.hexCodeScreen{
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.sharedScreen{
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

.screens{
  margin: auto;
  border: 2px solid rgba(148, 143, 140, 0.856);;
}

form {
  margin: auto;
}

label input {
  margin: auto;
  display:block;
  align-items: center;
}

.displayScreen {
  width: 300px;
  height: 100px;
  margin: auto;
}

.ciclegraph {
  grid-column: 2 / 3;
  grid-row: 2 / 5;
  position: relative;
  width: 87%;
  margin: calc(100px / 2 + 0px);
}

.ciclegraph .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90px;
  height: 90px;
  margin: calc(-100px / 2);
  background: rgba(255, 219, 17, 0.76);
  border-radius: 50%;
}

.circle:hover{
  background: rgba(155, 152, 136, 0.76);
}

footer {
  grid-column: 1 / 3;
  grid-row: 5 / 6;
  background: rgba(172, 99, 51, 0.856);
  color: rgb(255, 255, 255);
  font-size: larger;  
  padding-top: 6px;
}